<!Doctype HTML>
<html>
    <head>
        <title>My Website</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="theme-color" content="#585858"> 
        <!-- Your site's theme color. Shown on the tab bar on iPadOS, and at the top on iOS. -->
        <meta name="apple-mobile-web-app-title" content="Search The World 3"> <!--Title When added to home screen-->
        <meta name='apple-mobile-web-app-capable' content='yes'> <!--Whether or not it can be added to homscreen-->
        <meta name='apple-touch-fullscreen' content='yes'>
        <meta name='apple-mobile-web-app-status-bar-style' content='transparent'>
        <link rel="stylesheet" href="/static/css/style.css">
    </head>
    <body>
        <h2>My Website</h2>
        <p>
            A paragraph
        </p>
        <h2>{{ value }}</h2>
        <p>
            You can read about templating in the Jinja documentation.
        </p>
        <h2>Test out the user profiles <a href="/@hg0428/profile">here</a>.</h2>
    </body>
</html>